@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* الخط أسود */
  --background-start-rgb: 255, 255, 255; /* الخلفية بيضاء */
  --background-end-rgb: 255, 255, 255; /* الخلفية بيضاء */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0; /* الخط أسود حتى في الوضع الداكن */
    --background-start-rgb: 255, 255, 255; /* الخلفية بيضاء حتى في الوضع الداكن */
    --background-end-rgb: 255, 255, 255; /* الخلفية بيضاء حتى في الوضع الداكن */
  }
}

body {
  color: rgb(var(--foreground-rgb)); /* لون الخط أسود */
  background: rgb(var(--background-start-rgb)); /* خلفية بيضاء */
}

.icon-logo::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  display: block;
  background-color: transparent;
  border: 3px solid #0de3cd;
  border-radius: 2px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  left: -7px;
  z-index: -1;
}



.color-main {
  color: #00cdb8;
}

.active {
  background-color: #000;
}

.custome-rounded {
  border-bottom-left-radius: 50% 53%;
  border-bottom-right-radius: 50% 53%;
}

.translate-media {
  @media (max-width: 991px) {
    & {
      transform: translateX(-57%);
    }
  }
}

.negativ-left {
  left: -165px;
}

.negative-bottom {
  bottom: -6px;
}

.negativ-left-icon {
  left: -90px;
}

.negativ-right {
  right: -70px;
}
.custome-mt{
  margin-top: -33px;
}
.custome-shadow{
  box-shadow: 0 10px 15px 10px rgb(0 0 0 / 0.1);
}